# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# SQLite Database
chat_history.db

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Local Documentation
AI_chatbot_imp_docs/